<div ng-controller="homeCtrl">
<!--NAVBAR-->
<div class="navbar-fixed">
  <nav class="section-Navbar">
    <div class="nav-wrapper">
      <a ui-sref="Home" class="brand-logo"> Software By Isaac</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="fa fa-align-justify icon-Navbar"></i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li class="section-navoption-Navbar">
          <a ui-sref="Services">Services</a>
        </li>
        <li class="section-navoption-Navbar">
          <a ui-sref="Portfolio">Portfolio</a>
        </li>
        <li class="section-navoption-Navbar">
          <a ui-sref="About">About</a>
        </li>
        <li class="section-navoption-Navbar">
          <a ng-click="openMdl4()">Contact</a>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a ui-sref="Services">Services</a></li>
        <li><a ui-sref="Portfolio">Portfolio</a></li>
        <li><a ui-sref="About">About</a></li>
        <li><a ng-click="openMdl4()">Contact</a></li>
      </ul>
    </div>
  </nav>
</div>
<!--LANDING SECTION-->
	<div class="row marginNone">
        <div class="col s12 section-parent-Landing-ServicesPg">
            <div class="section-Landing-ServicesPg center">
                <p class="header-Landing-ServicesPg"><u>About</u></p>
            </div>
        </div>
    </div>
<!--ABOUT SECTION-->
    <div class="row">
        <div class="col l2 m1 s0 blend-About">.</div>
        <div class="col l2 m0 s0 center">
            <img class="img-About responsive-img hide-on-med-and-down" src="public/images/face.jpg"/>
        </div>
        <div class="col l5 m10 s12">
            <p class="description-About">
                <i class="fa fa-quote-left small icon-Reviews-Top"></i>
                <em>
                    Hello, my name is Isaac. I am an experienced web developer located in Los Angeles, CA. I build everything from small business websites to rich, interactive mobile apps. I believe that every person should be able to launch their perfect website/app in days, not months. I offer affordable pricing and innovative software solutions for every type of business/idea. Let me know how I can help you today!
                </em>
            </p>
            <p class="name-Reviews">Isaac Grey</p>
            <p class="title-About"><em>Owner, Software By Isaac</em></p>
        </div>
        <div class="col l3 m1 s0 blend-About">.</div>
    </div>
<!--MODAL-->
<div id="modal4" class="modal">
        <div class="modal-content">
            <h4><i class="fa fa-envelope-o"></i> Message</h4>
            <input 
                ng-model="emailModal" 
                placeholder="EMAIL (I.E YOU@GMAIL.COM)..." 
                class="input-Modal"/>
            <textarea 
                ng-model="messageModal" 
                placeholder="MESSAGE..." 
                class="textarea-Modal">
            </textarea>
            <div class="center">
              <a 
                ng-click="contactModal()" 
                class="waves-effect waves-light btn z-depth-0 btn-Modal">SEND
            </a>
            </div>
        </div>
    </div>
<!--FOOTER-->
    <footer id="footer-Bottom"class="page-footer">
    <div class="col s12"></div>
        <div class="row hide-on-small-and-down">
          <div class="col l1 m1 s1 blend-Footer">.</div>
            <div class="col l3 m0 s0 hide-on-med-and-down">
                <p class="header-Footer-navOptions-left">Areas of Service</p>
                <ul class="list-Footer-navOptions-Left">
                    <li>
                        <a class="navoption-Footer">U.S</a>
                    </li>
                    <li>
                        <a class="navoption-Footer">Cananda</a>
                    </li>
                </ul>
            </div>
            <div class="col l3 m0 s0 hide-on-med-and-down">
                <p class="header-Footer-navOptions">Services</p>
                <ul class="list-Footer-navOptions">
                    <li>
                        <a class="navoption-Footer">eCommerce</a>
                    </li>
                    <li>
                        <a class="navoption-Footer">Professional</a>
                    </li>
                    <li>
                        <a class="navoption-Footer">Social Media</a>
                    </li>
                    <li>
                        <a class="navoption-Footer">Educational</a>
                    </li>
                    <li>
                        <a class="navoption-Footer">Educational</a>
                    </li>
                    <li>
                        <a class="navoption-Footer">Blog</a>
                    </li>
                    <li>
                        <a class="navoption-Footer">Resume</a>
                    </li>
                </ul>
            </div>
            <div class="col l2 m4 s4">
                <p class="header-Footer-navOptions">Social</p>
                <ul class="list-Footer-navOptions">
                    <li>
                        <a class="navoption-social-Footer">Facebook</a>
                    </li>
                    <li>
                        <a class="navoption-social-Footer">Twitter</a>
                    </li>
              <li>
                <a class="navoption-social-Footer">LinkedIn</a>
              </li>
              <li>
                <a class="navoption-social-Footer">Google+</a>
              </li>
                </ul>
            </div>
            <div class="col l3 m7 s7">
                <p class="header-Footer-navOptions">Contact Info</p>
                <ul>
                    <li>
                        <p class="navoption-Footer">Isaac Grey, <em>Owner</em></p>
                        <p class="navoption-Footer">isaac@softwarebyisaac.com</p>
                        <p class="navoption-Footer">+1 (415) 996-7992</p>
                        <p class="navoption-Footer">Mon - Sat | 8:00am - 6:00pm (PST)</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center">
                <span class="copyright">© 2016 Software By Isaac</span>
            </div>
        </div>
    </footer>
<!--CLOSING DIV-->
</div>