<div id="scrollArea" ng-controller="homeCtrl">
<!--NAVBAR-->
<div class="navbar-fixed">
  <nav class="section-Navbar">
    <div class="nav-wrapper">
      <a class="brand-logo"> Software By Isaac</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="fa fa-align-justify icon-Navbar"></i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li class="section-navoption-Navbar">
          <a ui-sref="Services">Services</a>
        </li>
        <li class="section-navoption-Navbar">
          <a ui-sref="Portfolio">Portfolio</a>
        </li>
        <li class="section-navoption-Navbar">
          <a ui-sref="About">About</a>
        </li>
        <li class="section-navoption-Navbar">
          <a ng-click="openMdl1()">Contact</a>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a ui-sref="Services">Services</a></li>
        <li><a ui-sref="Portfolio">Portfolio</a></li>
        <li><a ui-sref="About">About</a></li>
        <li><a ng-click="openMdl1()">Contact</a></li>
      </ul>
    </div>
  </nav>
</div>
<!--LANDING SECTION-->
	<div class="row section-Vision-Parent">
		<div id="section-Vision" class="col l6 m0 m0 center">
			<img 
        src="public/images/cellphone.png" 
        class="responsive-img img-Vision animated fadeIn hide-on-med-and-down"/>
		</div>
		<div class="col l5 m12 s12">
        <iframe class="video-landingSection animated fadeIn hide-on-med-and-down"
           src="https://www.youtube.com/embed/LOAVwYDzVKg">
        </iframe>
      <br>
      <span class="header element"></span>
			<p class="description">Whether you want to start a new social media community or sell your products online, turn your<br> vision into reality with your very own web space.</p>
		</div>
		<div class="col l1 m0 s0">.</div>
	</div>
<!--WEB OPTIONS-->
  <div class="row section-Options-Parent hide-on-med-and-down">
    <div class="col s6">
      <i class="fa fa-laptop icon-optionsSection"></i>
      <span class="description-optionsSection">
        <b>Custom</b> Websites
      </span>
    </div>
    <div class="col s6">
      <i class="fa fa-tablet iconLeft-optionsSection"></i>
      <i class="fa fa-mobile iconRight-optionsSection"></i>
      <span class="description-optionsSection">
        <b>Mobile</b> Applications
      </span>
    </div>
  </div>
<!--SERVICES SECTION-->
  <div class="row section-Services-Parent">
    <div class="col s12 center">
      <p class="header-servicesSection">Choose From a Variety of Services</p>
      <p class="subheader-servicesSection">Get personalized software that is tailored to your passion and values.
      </p>
      <a
        ui-sref="Services" 
        class="waves-effect waves-light btn z-depth-0 servicesBtn center">View Services
      </a>
    </div>
  </div>
<!--REVIEWS SECTION-->
  <div class="row section-Reviews-Parent hide-on-med-and-down">
    <div class="col s2 center">
      <img src="public/images/jacqiue.jpg" class="img-Reviews responsive-img"/>
    </div>
    <div class="col s4">
      <i class="fa fa-quote-left small icon-Reviews-Top"></i>
        <span class="description-Reviews">
          <em>Isaac was a pleasure to work with from start to finish. He constantly kept me in the loop with project updates throughout the entire development process.</em>
        </span> 
        <p class="name-Reviews">Jacqueline Sloves</p>
        <p class="title-Reviews"><em>Director, Coder Camps LLC</em></p>
    </div>
    <div class="col s2 center">
      <img src="public/images/tony.jpg" class="img-Reviews responsive-img"/>
    </div>
    <div class="col s4">
      <i class="fa fa-quote-left small icon-Reviews-Top"></i>
        <span class="description-Reviews">
          <em>I had a great experience getting my website built. It was done fast, and the end result came out just the way I wanted it. Thanks Isaac!</em>
        </span>
        <p class="name-Reviews">Chang Tong</p>
        <p class="title-Reviews"><em>Lead, Ebates</em></p>
    </div>
  </div>
<!--QUOTE SECTION-->
  <span id="quote"></span>
	<div class="row section-Quote-Parent center">
		<div class="col s12 section-Quote">
      <p class="header-Quote">Let's Get In Touch and Talk About Your Project</p>
      <p class="subheader-Quote hide-on-med-and-down">We can discuss your business, vision, and expectations. No obligation quote.</p>
    </div>
    <div class="col l3 m1 s0 blend">.</div>
    <div class="col l2 m5 s0 hide-on-small-and-down">
      <input ng-model="name" placeholder="FULL NAME..." class="input-Quote"/>
    </div>
    <div class="col l2 m0 s0 hide-on-med-and-down">
      <input ng-model="phone" placeholder="PHONE..." class="input-Quote"/>
    </div>
    <div class="col l2 m5 s12">
      <input ng-model="email" placeholder="EMAIL..." class="input-Quote"/>
    </div>
    <div class="col l3 m0 s0 blend">.</div>
    <div class="col s12">
      <a
        ng-click="contact()" 
        class="waves-effect waves-light btn z-depth-0 submitBtn center">Submit</a>
    </div>
	</div>
<!--MODAL-->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4><i class="fa fa-envelope-o"></i> Message</h4>
            <input 
              ng-model="emailModal" 
              placeholder="EMAIL (I.E YOU@GMAIL.COM)..." 
              class="input-Modal"/>
            <textarea 
              ng-model="messageModal" 
              placeholder="MESSAGE..." 
              class="textarea-Modal"></textarea>
            <div class="center">
              <a
                ng-click="contactModal()" 
                class="waves-effect waves-light btn z-depth-0 btn-Modal">SEND</a>
            </div>
        </div>
    </div>
<!--FOOTER-->
	<footer id="footer-Bottom"class="page-footer">
    <div class="col s12"></div>
        <div class="row hide-on-small-and-down">
          <div class="col l1 m1 s1 blend-Footer">.</div>
        	<div class="col l3 m0 s0 hide-on-med-and-down">
        		<p class="header-Footer-navOptions-left">Areas of Service</p>
        		<ul class="list-Footer-navOptions-Left">
        			<li>
        				<a class="navoption-Footer">U.S</a>
        			</li>
        			<li>
        				<a class="navoption-Footer">Cananda</a>
        			</li>
        		</ul>
        	</div>
        	<div class="col l3 m0 s0 hide-on-med-and-down">
        		<p class="header-Footer-navOptions">Services</p>
        		<ul class="list-Footer-navOptions">
        			<li>
        				<a class="navoption-Footer">eCommerce</a>
        			</li>
        			<li>
        				<a class="navoption-Footer">Professional</a>
        			</li>
        			<li>
        				<a class="navoption-Footer">Social Media</a>
        			</li>
        			<li>
        				<a class="navoption-Footer">Educational</a>
        			</li>
        			<li>
        				<a class="navoption-Footer">Educational</a>
        			</li>
        			<li>
        				<a class="navoption-Footer">Blog</a>
        			</li>
        			<li>
        				<a class="navoption-Footer">Resume</a>
        			</li>
        		</ul>
        	</div>
        	<div class="col l2 m4 s4">
        		<p class="header-Footer-navOptions">Social</p>
        		<ul class="list-Footer-navOptions">
        			<li>
        				<a
                  target="_blank"
                  href="https://www.facebook.com/Software-By-Isaac-426602957547522/?fref=ts" 
                  class="navoption-social-Footer">Facebook</a>
        			</li>
        			<li>
        				<a
                  target="_blank"
                  href="https://twitter.com/softwarebyisaac" 
                  class="navoption-social-Footer">Twitter</a>
        			</li>
              <li>
                <a
                  target="_blank"
                  href="https://www.linkedin.com/company/7787891?trk=tyah&trkInfo=clickedVertical%3Acompany%2CentityType%3AentityHistoryName%2CclickedEntityId%3Acompany_7787891%2Cidx%3A1" 
                  class="navoption-social-Footer">LinkedIn</a>
              </li>
              <li>
                <a class="navoption-social-Footer">Google+</a>
              </li>
        		</ul>
        	</div>
        	<div class="col l3 m7 s7">
        		<p class="header-Footer-navOptions">Contact Info</p>
        		<ul>
        			<li>
        				<p class="navoption-Footer">Isaac Grey, <em>Owner</em></p>
        				<p class="navoption-Footer">isaac@softwarebyisaac.com</p>
        				<p class="navoption-Footer">+1 (415) 996-7992</p>
        				<p class="navoption-Footer">Mon - Sat | 8:00am - 6:00pm (PST)</p>
        			</li>
        		</ul>
        	</div>
        </div>
        <div class="footer-copyright">
            <div class="container center">
            	<span class="copyright">© 2016 Software By Isaac</span>
            </div>
        </div>
    </footer>
<!--CLOSING CTRL DIV-->
</div>



