<div ng-controller="homeCtrl">
<!--NAVBAR-->
<div class="navbar-fixed">
  <nav class="section-Navbar">
    <div class="nav-wrapper">
      <a ui-sref="Home" class="brand-logo"> Software By Isaac</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="fa fa-align-justify icon-Navbar"></i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li class="section-navoption-Navbar">
          <a ui-sref="Services">Services</a>
        </li>
        <li class="section-navoption-Navbar">
          <a ui-sref="Portfolio">Portfolio</a>
        </li>
        <li class="section-navoption-Navbar">
          <a ui-sref="About">About</a>
        </li>
        <li class="section-navoption-Navbar">
          <a ng-click="goToQuote()">Contact</a>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a ui-sref="Services">Services</a></li>
        <li><a ui-sref="Portfolio">Portfolio</a></li>
        <li><a ui-sref="About">About</a></li>
        <li><a ng-click="goToQuote()">Quote</a></li>
      </ul>
    </div>
  </nav>
</div>
<!--LANDING SECTION-->
    <div class="row marginNone">
        <div class="col s12 section-parent-Landing-ServicesPg">
            <div class="section-Landing-ServicesPg center">
                <p class="header-Landing-ServicesPg"><u>Services</u></p>
            </div>
        </div>
    </div>
<!--ECOMMERCE SECTION-->
    <div class="row section-Services-ServicesPg">
        <div class="col l3 m0 s0 blend-services">.
        </div>
        <div class="col 16 m12 s12 center">
            <p class="header-Services-ServicesPg"><i class="fa fa-shopping-cart icon-Services-C hide-on-small-and-down"></i> eCommerce</p>
            <p class="description-Services-ServicesPg">
                Sell your products with an online shop. Promote special deals, process credit card transactions, and much more!
            </p>
        </div>
        <div class="col l3 m0 s0 blend-services">.</div>
    </div>
<!--SALES/MARKETING SECTION-->
    <div class="row section-Services-ServicesPg">
        <div class="col l3 m0 s0 blend-services">.</div>
        <div class="col l6 m12 s12 center">
            <p class="header-Services-ServicesPg"><i class="fa fa-bullhorn icon-Services-A hide-on-small-and-down"></i> Sales/Marketing</p>
            <p class="description-Services-ServicesPg">
                Grow your professional network with a custom website that is sure to capture more leads, clients, and closes.
            </p>
        </div>
        <div class="col l3 m12 s12 blend-services">.</div>
    </div>
<!--INDEPENDENT CONTRACTING SECTION-->
    <div class="row section-Services-ServicesPg">
        <div class="col l3 m0 s0 blend-services">.</div>
        <div class="col l6 m12 s12 center">
            <p class="header-Services-ServicesPg"><i class="fa fa-wrench icon-Services-A hide-on-small-and-down"></i> Independent Contracting</p>
            <p class="description-Services-ServicesPg">
                Promote your business services online to both local & global prospects, landing you more bids and contracts.
            </p>
        </div>
        <div class="col l3 m0 s0 blend-services">.</div>
    </div>
<!--SOCIAL MEDIA SECTION-->
    <div class="row section-Services-ServicesPg">
        <div class="col l3 m0 s0 blend-services">.</div>
        <div class="col l6 m12 s12 center">
            <p class="header-Services-ServicesPg"><i class="fa fa-users icon-Services-A hide-on-small-and-down"></i> Social Media</p>
            <p class="description-Services-ServicesPg">
                Start the next big social media app! Establish an online community where users can share content and message.
            </p>
        </div>
        <div class="col l3 m0 s0 blend-services">.</div>
    </div>
<!--BLOG SECTION-->
    <div class="row section-Services-ServicesPg">
        <div class="col l3 m0 s0 blend-services">.</div>
        <div class="col l6 m12 s12 center">
            <p class="header-Services-ServicesPg"><i class="fa fa-laptop icon-Services-A hide-on-small-and-down"></i> Blog</p>
            <p class="description-Services-ServicesPg">
                Share your writing with a worldwide audience! Publish your own content feed and where visitors can come read your material.
            </p>
        </div>
        <div class="col l3 m0 s0 blend-services">.</div>
    </div>
<!--EDUCATIONAL SECTION-->
    <div class="row section-Services-ServicesPg">
        <div class="col l3 m0 s0 blend-services">.</div>
        <div class="col l6 m12 s12 center">
            <p class="header-Services-ServicesPg"><i class="fa fa-graduation-cap icon-Services-B hide-on-small-and-down"></i> Educational</p>
            <p class="description-Services-ServicesPg">
                Tutor students? Create a place for clients to access lessons, take quiz's/tests, and various other learning activities.
            </p>
        </div>
        <div class="col l3 m0 s0 blend-services">.</div>
    </div>
<!--RESUME SECTION-->
    <div class="row section-resume-Services-ServicesPg">
        <div class="col l3 m0 s0 blend-services">.</div>
        <div class="col l6 m12 s12 center">
            <p class="header-Services-ServicesPg"><i class="fa fa-file-word-o icon-Services-C hide-on-small-and-down"></i> Resume</p>
            <p class="description-Services-ServicesPg">
                Give potential employers a beautiful website to visit and view your work history, education, skills, and references.
            </p>
        </div>
        <div class="col l3 m0 s0 blend-services">.</div>
    </div>
<!--NOT OFFERED SECTION-->
    <div class="row section-notOffered-Services-ServicesPg">
        <div class="col s12 center">
            <p class="header-Services-ServicesPg">Didn't See What You Need?</p>
            <p class="description-Services-ServicesPg">
                That's okay, just let me know what you need and I'll let you know what's possible.
            </p>
        </div>
    </div>

<!--FOOTER-->
    <footer id="footer-Bottom"class="page-footer">
    <div class="col s12"></div>
        <div class="row hide-on-small-and-down">
          <div class="col l1 m1 s1 blend-Footer">.</div>
            <div class="col l3 m0 s0 hide-on-med-and-down">
                <p class="header-Footer-navOptions-left">Areas of Service</p>
                <ul class="list-Footer-navOptions-Left">
                    <li>
                        <a class="navoption-Footer">U.S</a>
                    </li>
                    <li>
                        <a class="navoption-Footer">Cananda</a>
                    </li>
                </ul>
            </div>
            <div class="col l3 m0 s0 hide-on-med-and-down">
                <p class="header-Footer-navOptions">Services</p>
                <ul class="list-Footer-navOptions">
                    <li>
                        <a class="navoption-Footer">eCommerce</a>
                    </li>
                    <li>
                        <a class="navoption-Footer">Professional</a>
                    </li>
                    <li>
                        <a class="navoption-Footer">Social Media</a>
                    </li>
                    <li>
                        <a class="navoption-Footer">Educational</a>
                    </li>
                    <li>
                        <a class="navoption-Footer">Educational</a>
                    </li>
                    <li>
                        <a class="navoption-Footer">Blog</a>
                    </li>
                    <li>
                        <a class="navoption-Footer">Resume</a>
                    </li>
                </ul>
            </div>
            <div class="col l2 m4 s4">
                <p class="header-Footer-navOptions">Social</p>
                <ul class="list-Footer-navOptions">
                    <li>
                        <a class="navoption-social-Footer">Facebook</a>
                    </li>
                    <li>
                        <a class="navoption-social-Footer">Twitter</a>
                    </li>
              <li>
                <a class="navoption-social-Footer">LinkedIn</a>
              </li>
              <li>
                <a class="navoption-social-Footer">Google+</a>
              </li>
                </ul>
            </div>
            <div class="col l3 m7 s7">
                <p class="header-Footer-navOptions">Contact Info</p>
                <ul>
                    <li>
                        <p class="navoption-Footer">Isaac Grey, <em>Owner</em></p>
                        <p class="navoption-Footer">isaac@softwarebyisaac.com</p>
                        <p class="navoption-Footer">+1 (415) 996-7992</p>
                        <p class="navoption-Footer">Mon - Sat | 8:00am - 6:00pm (PST)</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center">
                <span class="copyright">© 2016 Software By Isaac</span>
            </div>
        </div>
    </footer>
<!--CLOSING PAGE DIV-->
</div>