
/*NAVBAR*/
.navbarTop{
	background-color: #fff !important;
}
#laptopIcon{
	font-size: 30px;
	color: #383838;
	margin-left: 30px;
}
.companyName{
	margin-left: 10px;
	margin-right: 30px;
	font-size: 30px;
	color: #666666;
}
.navSection:hover{
	background-color: #fff;
}
.navOption-left{
	font-weight: lighter;
	font-size: 25px;
	color: #b3b3b3;
	cursor: pointer;
	background-color: #fff;
	border-left: 1px solid #EEEEEE;
}
.navOption-left:hover{
	color: #000;
	cursor: pointer;
	background-color: #EEEEEE;
}
.navOption-middle{
	font-weight: lighter;
	font-size: 25px;
	color: #b3b3b3;
	cursor: pointer;
	background-color: #fff;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
}
.navOption-middle:hover{
	color: #000;
	cursor: pointer;
	background-color: #EEEEEE;
}
.navOption-right{
	font-weight: lighter;
	font-size: 25px;
	color: #b3b3b3;
	cursor: pointer;
	background-color: #fff;
	border-right: 1px solid #EEEEEE;
}
.navOption-right:hover{
	color: #000;
	cursor: pointer;
	background-color: #EEEEEE;
}
.navOption-about{
	margin-right: 20px;
	font-size: 20px;
	color: #b3b3b3;
	cursor: pointer;
	background-color: #fff;
}
.navOption-about:hover{
	margin-right: 20px;
	color: #000;
	text-decoration: underline;
	cursor: pointer;
	background-color: #fff;
}
/*LANDING SECTION*/
.typed-cursor{
	font-size: 45px;
	font-weight: lighter;
	color: #fff;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
#landingCol{
	padding-left: 0px;
	padding-right: 0px;
}
.section-Vision-Parent{
	/*height: 1000px;*/
	margin-bottom: 0px;
	background: linear-gradient(to bottom right, #824eca, #2e174f);
	padding-left: 0px !important;
	padding-right: 0px !important;
}
#section-Vision{
	padding-left: 0px;
}
.img-Vision{
	margin-top: 40px;
	margin-bottom: 30px;
	margin-left: 100px;
}
.video-landingSection{
	margin-top: 130px;
}
.header{
	margin-top: 15px;
	margin-bottom: 0px;
	font-size: 50px;
	font-weight: lighter;
	color:  #fff;
	line-height: 1;
}
.description{
	margin-top: 10px;
	font-size: 23px;
	font-weight: lighter;
	color: #fff;
}
.quoteBtn{
	background-color: #1CC526;
	height: 60px;
	padding-top: 15px;
	width: 35%;
	font-size: 18px;
}
.quoteBtn:hover{
	background-color: #36e242;
	height: 60px;
	padding-top: 15px;
	width: 35%;
	font-size: 18px;
}

/*OPTIONS SECTION*/
.section-Options-Parent{
	margin-bottom: 0px;
	background-color: #262d3a;
	height: 300px;
}
.icon-optionsSection{
	color: #158FEF;
	margin-top: 100px;
	margin-left: 80px;
}
.iconRight-optionsSection{
	color: #855EAE;
	margin-top: 100px;
	margin-left: 5px;
}
.iconLeft-optionsSection{
	color: #855EAE;
	margin-top: 100px;
}
.description-optionsSection{
	margin-left: 10px;
	color: #e6e6e6;
	font-size: 50px;
	font-weight: lighter;
}
/*SERVICES SECTION*/
.section-Services-Parent{
	padding-bottom: 50px;
	border-bottom: 2px solid #cccccc;
}
.header-servicesSection{
	margin-top: 70px;
	margin-bottom: 0px;
	font-weight: lighter;
	font-size: 50px;
}
.subheader-servicesSection{
	margin-top: 0px;
	color: #666666;
	font-size: 30px;
	font-weight: lighter;
}
.servicesBtn{
	margin-top: 10px;
	background-color: #1CC526;
	height: 60px;
	padding-top: 15px;
	width: 15%;
	font-size: 18px;
}
.servicesBtn:hover{
	margin-top: 10px;
	background-color: #36e242;
	height: 60px;
	padding-top: 15px;
	width: 15%;
	font-size: 18px;
}

/*REVIEWS SECTION*/
.section-Reviews-Parent{
	padding-bottom: 60px;
}
.img-Reviews{
	margin-top: 40px;
	margin-left: 30px;
	border-radius: 50%;
	border: 4px solid #EEEEEE;
}
.icon-Reviews-Top{
	margin-top: 60px;
	margin-right: 5px;
	color: #158FEF;
}
.description-Reviews{
	margin-top: 70px;
	font-weight: lighter;
	color: #666666;
	font-size: 25px;
}
.name-Reviews{
	font-size: 20px;
	color: #158FEF;
	margin-bottom: 0px;
}
.title-Reviews{
	margin-top: 0px;
	font-size: 13px;
}
/*QUOTE SECTION*/
.section-Quote-Parent{
	margin-bottom: 0px;
	background-color: #EEEEEE;
	padding-top: 50px;
	padding-bottom: 50px;
}
.section-Quote{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.header-Quote{
	margin-bottom: 0px;
	font-weight: lighter;
	font-size: 40px;
}
.subheader-Quote{
	margin-top: 0px;
	font-weight: lighter;
	font-size: 20px;
}
.input-Quote{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	outline: none;
	border: 1px solid #EEEEEE;
}
.blend{
	color: #EEEEEE;
}
.submitBtn{
	margin-top: 30px;
	background-color: #1CC526;
	height: 60px;
	padding-top: 15px;
	width: 15%;
	font-size: 18px;
}
.submitBtn:hover{
	margin-top: 30px;
	background-color: #36e242;
	height: 60px;
	padding-top: 15px;
	width: 15%;
	font-size: 18px;
}

/*FOOTER*/

#footer-Bottom{
	margin-top: 0px;
	padding-top: 50px;
	background-color: #262d3a;
	color: #000;
}
.header-Footer-navOptions{
	color: #fff;
	font-weight: bold;
	font-size: 20px;
}
.header-Footer-navOptions-left{
	color: #f2f2f2;
	font-weight: bold;
	font-size: 20px;
}
.list-Footer-navOptions-left{
	margin-left: 30px;
}
.navoption-Footer{
	color: #EEEEEE;
	font-size: 20px;
}
.navoption-social-Footer{
	color: #EEEEEE;
	font-size: 20px;
	cursor: pointer;
}
.navoption-social-Footer:hover{
	color: #158FEF;
	font-size: 20px;
	cursor: pointer;
}
.footer-copyright{
	border-top: 1px solid #323c4d;
}
.copyright{
	color: #a6a6a6;
}