
/*GLOBALS*/
.modal{
	width: 35%;
	background-color: #EEEEEE;
}
.input-Modal{
	margin-bottom: 20px;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	outline: none;
	border: 1px solid #EEEEEE;
}
.textarea-Modal{
	padding-bottom: 100px;
	border: 1px solid #EEEEEE;
	background-color: #fff;
	outline: none;
}
.btn-Modal{
	margin-top: 10px;
	background-color: #1CC526;
	height: 50px;
	padding-top: 8px;
	width: 30%;
	font-size: 15px;
}
.btn-Modal:hover{
	margin-top: 10px;
	background-color: #36e242;
	height: 50px;
	padding-top: 8px;
	width: 30%;
	font-size: 15px;
}
/*NAVBAR*/

.section-Navbar{
	background-color: #3a1d62;
	max-width: 100vw !important;
}
.brand-logo{
	margin-left: 20px;
}
.section-navoption-Navbar:hover{
	background-color: #3a1d62;
	text-decoration: underline;
	cursor: pointer;
}
.icon-Navbar{
	margin-top: 1px;
	margin-left: 20px;
}
/*LANDING SECTION*/
.typed-cursor{
	font-size: 45px;
	font-weight: lighter;
	color: #fff;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
#landingCol{
	padding-left: 0px;
	padding-right: 0px;
}
.section-Vision-Parent{
	margin-bottom: 0px;
	background: linear-gradient(to bottom right, #824eca, #2e174f);
	padding-left: 0px !important;
	padding-right: 0px !important;
}
#section-Vision{
	padding-left: 0px;
}
.img-Vision{
	margin-top: 40px;
	margin-bottom: 30px;
	margin-left: 100px;
}
.video-landingSection{
	margin-top: 100px;
	height: 250px !important;
	width: 350px !important;
}
.header{
	margin-top: 15px;
	margin-bottom: 0px;
	font-size: 50px;
	font-weight: lighter;
	color:  #fff;
	line-height: 1;
}
@media only screen and (max-width: 800px) {
	.header {
        margin-top: 15px;
		margin-bottom: 0px;
		font-size: 50px;
		font-weight: bold;
		color:  #fff;
		line-height: 1;
    }
}
@media only screen and (max-width: 400px) {
	.header {
        margin-top: 15px;
		margin-bottom: 0px;
		font-size: 30px;
		font-weight: bold;
		color:  #fff;
		line-height: 1;
    }
}
.description{
	margin-top: 10px;
	font-size: 25px;
	font-weight: lighter;
	color: #fff;
}
@media only screen and (max-width: 800px) {
	.description {
        margin-top: 10px;
		font-size: 35px;
		font-weight: lighter;
		color: #fff;
    }
}
@media only screen and (max-width: 400px) {
	.description {
        margin-top: 10px;
		font-size: 25px;
		font-weight: lighter;
		color: #fff;
    }
}
.quoteBtn{
	background-color: #1CC526;
	height: 60px;
	padding-top: 15px;
	width: 35%;
	font-size: 18px;
}
.quoteBtn:hover{
	background-color: #36e242;
	height: 60px;
	padding-top: 15px;
	width: 35%;
	font-size: 18px;
}

/*OPTIONS SECTION*/
.section-Options-Parent{
	margin-bottom: 0px;
	background-color: #262d3a;
	height: 300px;
}
@media only screen and (min-width: 600px) {
	.icon-optionsSection {
        margin-bottom: 0px;
		background-color: #262d3a;
    }
}
.icon-optionsSection{
	font-size: 100px !important;
	color: #158FEF;
	margin-top: 100px;
	margin-left: 80px;
}
@media only screen and (max-width: 800px) {
	.icon-optionsSection {
		font-size: 66px !important;
        color: #158FEF;
		margin-top: 100px;
		margin-left: 10px;
    }
}
@media only screen and (max-width: 400px) {
	.icon-optionsSection {
		font-size: 33px !important;
        color: #158FEF;
		margin-top: 100px;
		margin-left: 10px;
    }
}
.iconRight-optionsSection{
	font-size: 100px !important;
	color: #855EAE;
	margin-top: 100px;
	margin-left: 5px;
}
@media only screen and (max-width: 800px) {
	.iconRight-optionsSection {
		font-size: 66px !important;
        color: #855EAE;
		margin-top: 100px;
		margin-left: 5px;
    }
}
.iconLeft-optionsSection{
	font-size: 100px !important;
	color: #855EAE;
	margin-top: 100px;
}
@media only screen and (max-width: 800px) {
	.iconLeft-optionsSection {
		font-size: 66px !important;
	    color: #855EAE;
		margin-top: 100px;
    }
}
.description-optionsSection{
	margin-left: 10px;
	color: #e6e6e6;
	font-size: 50px;
	font-weight: lighter;
}
@media only screen and (max-width: 800px) {
	.description-optionsSection {
        margin-left: 10px;
		color: #e6e6e6;
		font-size: 30px;
		font-weight: lighter;
    }
}
@media only screen and (max-width: 400px) {
	.description-optionsSection {
        margin-left: 10px;
		color: #e6e6e6;
		font-size: 10px;
		font-weight: lighter;
    }
}
/*SERVICES SECTION*/
.section-Services-Parent{
	margin-bottom: 0px;
	padding-bottom: 50px;
	border-bottom: 2px solid #cccccc;
}
.header-servicesSection{
	margin-top: 70px;
	margin-bottom: 0px;
	font-weight: lighter;
	font-size: 50px;
}
@media only screen and (max-width: 800px) {
	.header-servicesSection {
        margin-top: 30px;
		margin-bottom: 0px;
		font-weight: lighter;
		font-size: 40px;
    }
}
@media only screen and (max-width: 400px) {
	.header-servicesSection {
        margin-top: 30px;
		margin-bottom: 0px;
		font-weight: lighter;
		font-size: 30px;
    }
}
.subheader-servicesSection{
	margin-top: 0px;
	color: #666666;
	font-size: 30px;
	font-weight: lighter;
}
@media only screen and (max-width: 800px) {
	.subheader-servicesSection {
        margin-top: 10px;
		margin-bottom: 0px;
		font-weight: lighter;
		font-size: 30px;
    }
}
@media only screen and (max-width: 400px) {
	.subheader-servicesSection {
        margin-top: 10px;
		margin-bottom: 0px;
		font-weight: lighter;
		font-size: 20px;
    }
}
.servicesBtn{
	margin-top: 10px;
	background-color: #1CC526;
	height: 60px;
	padding-top: 15px;
	width: 15%;
	font-size: 18px;
}
@media only screen and (max-width: 800px) {
	.servicesBtn {
        margin-top: 10px;
		background-color: #1CC526;
		height: 60px;
		padding-top: 15px;
		width: 30%;
		font-size: 20px;
    }
}
@media only screen and (max-width: 400px) {
	.servicesBtn {
        margin-top: 10px;
		background-color: #1CC526;
		height: 60px;
		padding-top: 15px;
		width: 65%;
		font-size: 18px;
    }
}
.servicesBtn:hover{
	margin-top: 10px;
	background-color: #36e242;
	height: 60px;
	padding-top: 15px;
	width: 15%;
	font-size: 18px;
}
@media only screen and (max-width: 800px) {
	.servicesBtn:hover {
        margin-top: 10px;
		background-color: #36e242;
		height: 60px;
		padding-top: 15px;
		width: 30%;
		font-size: 18px;
    }
}
@media only screen and (max-width: 400px) {
	.servicesBtn:hover {
        margin-top: 10px;
		background-color: #36e242;
		height: 60px;
		padding-top: 15px;
		width: 65%;
		font-size: 18px;
    }
}
/*REVIEWS SECTION*/
.section-Reviews-Parent{
	padding-bottom: 60px;
}
.img-Reviews{
	margin-top: 40px;
	margin-left: 30px;
	border-radius: 50%;
	border: 4px solid #EEEEEE;
}
@media only screen and (max-width: 800px) {
	.img-Reviews {
        margin-top: 40px;
		margin-left: 30px;
		border-radius: 50%;
    }
}
.icon-Reviews-Top{
	margin-top: 60px;
	margin-right: 5px;
	color: #158FEF;
}
.description-Reviews{
	margin-top: 70px;
	font-weight: lighter;
	color: #666666;
	font-size: 25px;
}
@media only screen and (max-width: 800px) {
	.description-Reviews {
        margin-top: 70px;
		font-weight: lighter;
		color: #666666;
		font-size: 20px;
    }
}
.name-Reviews{
	font-size: 20px;
	color: #158FEF;
	margin-bottom: 0px;
}
.title-Reviews{
	margin-top: 0px;
	font-size: 13px;
}
/*QUOTE SECTION*/
.section-Quote-Parent{
	margin-bottom: 0px;
	background-color: #EEEEEE;
	padding-top: 50px;
	padding-bottom: 50px;
}
@media only screen and (max-width: 800px) {
	.section-Quote-Parent {
        margin-bottom: 0px;
		background-color: #EEEEEE;
		padding-top: 0px;
		padding-bottom: 50px;
    }
}
.section-Quote{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.header-Quote{
	margin-bottom: 0px;
	font-weight: lighter;
	font-size: 40px;
}
@media only screen and (max-width: 800px) {
	.header-Quote {
        margin-bottom: 0px;
		font-weight: lighter;
		font-size: 40px;
    }
}
@media only screen and (max-width: 400px) {
	.header-Quote {
        margin-bottom: 0px;
		font-weight: lighter;
		font-size: 30px;
    }
}
.subheader-Quote{
	margin-top: 0px;
	font-weight: lighter;
	font-size: 20px;
}
@media only screen and (max-width: 800px) {
	.subheader-Quote {
        margin-top: 0px;
		font-weight: lighter;
		font-size: 30px;
    }
}
.input-Quote{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	outline: none;
	border: 1px solid #EEEEEE;
}
@media only screen and (max-width: 800px) {
	.input-Quote {
        width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
		outline: none;
		border: 1px solid #EEEEEE;
    }
}
@media only screen and (max-width: 400px) {
	.input-Quote {
        width: 90%;
		padding-top: 20px;
		padding-bottom: 20px;
		outline: none;
		border: 1px solid #EEEEEE;
    }
}
.blend{
	color: #EEEEEE;
}
.submitBtn{
	margin-top: 30px;
	background-color: #1CC526;
	height: 60px;
	padding-top: 15px;
	width: 15%;
	font-size: 18px;
}
@media only screen and (max-width: 800px) {
	.submitBtn {
        margin-top: 30px;
		background-color: #1CC526;
		height: 60px;
		padding-top: 15px;
		width: 30%;
		font-size: 18px;
    }
}
@media only screen and (max-width: 400px) {
	.submitBtn {
        margin-top: 30px;
		background-color: #1CC526;
		height: 60px;
		padding-top: 15px;
		width: 65%;
		font-size: 18px;
    }
}
.submitBtn:hover{
	margin-top: 30px;
	background-color: #36e242;
	height: 60px;
	padding-top: 15px;
	width: 15%;
	font-size: 18px;
}
@media only screen and (max-width: 800px) {
	.submitBtn:hover {
        margin-top: 30px;
		background-color: #36e242;
		height: 60px;
		padding-top: 15px;
		width: 30%;
		font-size: 18px;
    }
}
@media only screen and (max-width: 400px) {
	.submitBtn:hover {
        margin-top: 30px;
		background-color: #36e242;
		height: 60px;
		padding-top: 15px;
		width: 65%;
		font-size: 18px;
	}
}
/*FOOTER*/

#footer-Bottom{
	margin-top: 0px;
	padding-top: 50px;
	background-color: #262d3a;
	color: #000;
}
.header-Footer-navOptions{
	color: #fff;
	font-weight: bold;
	font-size: 20px;
}
@media only screen and (max-width: 800px) {
	.header-Footer-navOptions {
        color: #fff;
		font-weight: bold;
		font-size: 30px;
    }
}
.header-Footer-navOptions-left{
	color: #f2f2f2;
	font-weight: bold;
	font-size: 20px;
}
.list-Footer-navOptions-left{
	margin-left: 30px;
}
.navoption-Footer{
	color: #EEEEEE;
	font-size: 20px;
}
@media only screen and (max-width: 800px) {
	.navoption-Footer {
        color: #EEEEEE;
		font-size: 25px;
    }
}
.navoption-social-Footer{
	color: #EEEEEE;
	font-size: 20px;
	cursor: pointer;
}
@media only screen and (max-width: 800px) {
	.navoption-social-Footer {
        color: #EEEEEE;
		font-size: 25px;
		cursor: pointer;
    }
}
.navoption-social-Footer:hover{
	color: #158FEF;
	font-size: 20px;
	cursor: pointer;
}
.footer-copyright{
	border-top: 1px solid #323c4d;
}
.copyright{
	color: #a6a6a6;
}
@media only screen and (max-width: 800px) {
	.copyright {
        color: #a6a6a6;
        font-size: 20px;
    }
}
.blend-Footer{
	color: #262d3a;
}