
/*NAVBAR*/
.navbarTop{
	background-color: #fff !important;
}
#laptopIcon{
	font-size: 30px;
	color: #383838;
	margin-left: 30px;
}
.companyName{
	margin-left: 10px;
	font-size: 30px;
	color: #666666;
}
.navSection:hover{
	background-color: #fff;
}
.navOption{
	color: #383838;
	cursor: pointer;
	margin-right: 50px;
	/*height: 65px;*/
	background-color: #fff;
}
.navOption:hover{
	color: #000;
	text-decoration: underline;
	cursor: pointer;
	margin-right: 50px;
	/*height: 65px;*/
	background-color: #fff;
}

/*LANDING SECTION*/
.landingSection{
	height: 800px;
	background-image: url("/public/images/computer1.gif");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 140px;
}
#landingCol{
	padding-left: 0px;
	padding-right: 0px;
}
.slogan{
	font-size: 65px;
	font-weight: lighter;
	color: #262626;
	margin-top:0px;
	margin-bottom:0px;
}
.subSlogan{
	font-size: 25px;
	color: #000;
	font-weight: lighter;
	margin-top:0px;
	margin-bottom:0px;
}
.quoteBtnSection{
	margin-top: 20px;
}
.quoteBtn{
	height: 70px;
	width: 20%;
	padding-top: 15px;
	background-color: #3e9ef4;
}
.quoteBtn:hover{
	height: 70px;
	width: 20%;
	padding-top: 15px;
	background-color: #86c2f8;
}

/*VISION SECTION*/
#section-Vision{
	padding-left: 0px;
}
.img-Vision{
	margin-top: 100px;
	margin-bottom: 50px;
}
.header-Vision{
	margin-top: 250px;
	margin-bottom: 0px;
	font-size: 50px;
	font-weight: lighter;
	color:  #333333;
}
.description{
	margin-top: 0px;
	font-size: 23px;
	font-weight: lighter;
	color: #666666;
}

/*SERVICES SECTION*/
.section-Services{
	background-color: #EEEEEE;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.header-Services{
	margin-top: 100px;
	margin-bottom: 0px;
	color: #333333;
	font-size: 50px;
	font-weight: lighter;
}
.subheader-Services{
	margin-top: 0px;
	margin-bottom: 60px;
	font-size: 18px;
	font-weight: lighter;
	color: #666666;
}
.img-Middle-Services{
	width: 100%;
}
.Img-Section-Services{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.servicesBtn{
	height: 70px;
	width: 15%;
	padding-top: 15px;
	margin-top: 60px;
	background-color: #3e9ef4;
}
.servicesBtn:hover{
	height: 70px;
	width: 15%;
	padding-top: 15px;
	margin-top: 60px;
	background-color: #86c2f8;
}
