
/*NAVBAR*/
.navbarTop{
	background-color: #fff !important;
}
#laptopIcon{
	font-size: 30px;
	color: #383838;
	margin-left: 30px;
}
.companyName{
	margin-left: 10px;
	margin-right: 30px;
	font-size: 30px;
	color: #666666;
}
.navSection:hover{
	background-color: #fff;
}
.navOption-left{
	font-weight: lighter;
	font-size: 25px;
	color: #b3b3b3;
	cursor: pointer;
	background-color: #fff;
	border-left: 1px solid #EEEEEE;
}
.navOption-left:hover{
	color: #000;
	cursor: pointer;
	background-color: #EEEEEE;
}
.navOption-middle{
	font-weight: lighter;
	font-size: 25px;
	color: #b3b3b3;
	cursor: pointer;
	background-color: #fff;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
}
.navOption-middle:hover{
	color: #000;
	cursor: pointer;
	background-color: #EEEEEE;
}
.navOption-right{
	font-weight: lighter;
	font-size: 25px;
	color: #b3b3b3;
	cursor: pointer;
	background-color: #fff;
	border-right: 1px solid #EEEEEE;
}
.navOption-right:hover{
	color: #000;
	cursor: pointer;
	background-color: #EEEEEE;
}
.navOption-about{
	margin-right: 20px;
	font-size: 20px;
	color: #b3b3b3;
	cursor: pointer;
	background-color: #fff;
}
.navOption-about:hover{
	margin-right: 20px;
	color: #000;
	text-decoration: underline;
	cursor: pointer;
	background-color: #fff;
}
/*LANDING SECTION*/
.typed-cursor{
	font-size: 45px;
	font-weight: lighter;
	color: #fff;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
#landingCol{
	padding-left: 0px;
	padding-right: 0px;
}
.section-Vision-Parent{
	/*height: 1000px;*/
	margin-bottom: 0px;
	background: linear-gradient(to bottom right, #824eca, #2e174f);
	padding-left: 0px !important;
	padding-right: 0px !important;
}
#section-Vision{
	padding-left: 0px;
}
.img-Vision{
	margin-top: 40px;
	margin-bottom: 30px;
	margin-left: 100px;
}
.video-landingSection{
	margin-top: 130px;
}
.header{
	margin-top: 15px;
	margin-bottom: 0px;
	font-size: 50px;
	font-weight: lighter;
	color:  #fff;
	line-height: 1;
}
.description{
	margin-top: 10px;
	font-size: 23px;
	font-weight: lighter;
	color: #fff;
}
.quoteBtn{
	background-color: #1CC526;
	height: 60px;
	padding-top: 15px;
	width: 35%;
	font-size: 18px;
}
.quoteBtn:hover{
	background-color: #36e242;
	height: 60px;
	padding-top: 15px;
	width: 35%;
	font-size: 18px;
}

/*OPTIONS SECTION*/
.section-Options-Parent{
	margin-bottom: 0px;
	background-color: #262d3a;
	height: 300px;
}
.icon-optionsSection{
	color: #158FEF;
	margin-top: 100px;
	margin-left: 80px;
}
.iconRight-optionsSection{
	color: #855EAE;
	margin-top: 100px;
	margin-left: 5px;
}
.iconLeft-optionsSection{
	color: #855EAE;
	margin-top: 100px;
}
.description-optionsSection{
	margin-left: 10px;
	color: #e6e6e6;
	font-size: 50px;
	font-weight: lighter;
}
/*SERVICES SECTION*/
.section-Services-Parent{
	padding-bottom: 50px;
	border-bottom: 2px solid #cccccc;
}
.header-servicesSection{
	margin-top: 70px;
	margin-bottom: 0px;
	font-weight: lighter;
	font-size: 50px;
}
.subheader-servicesSection{
	margin-top: 0px;
	color: #666666;
	font-size: 30px;
	font-weight: lighter;
}
.servicesBtn{
	margin-top: 10px;
	background-color: #1CC526;
	height: 60px;
	padding-top: 15px;
	width: 15%;
	font-size: 18px;
}
.servicesBtn:hover{
	margin-top: 10px;
	background-color: #36e242;
	height: 60px;
	padding-top: 15px;
	width: 15%;
	font-size: 18px;
}

/*REVIEWS SECTION*/
.img-Reviews{
	margin-top: 40px;
	border-radius: 50%;
	border: 4px solid #EEEEEE;
}
/*QUOTE SECTION*/
.header-Quote{
	margin-bottom: 0px;
	font-size: 50px;
	font-weight: lighter;
}
.subheader-Quote{
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: lighter;
}
.section-Quote-Parent{
	margin-bottom: 0px;
	background-color: #EEEEEE;
}
.section-Quote{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.form-quoteForm{
	margin-top: 50px;
	margin-bottom: 150px;
	background-color: #fff;
}
.header-quoteForm{
	font-size: 20px;
	color: #666666;
	font-weight: lighter;
}
.gr{
	color: #00e67b;
}
.header-quoteForm-Message{
	color: #a6a6a6;
}
.textarea-quoteForm-Message{
	border: 1px solid #a6a6a6;
	outline: none;
	height: 100px;
	border-radius: 4px;
}
.submitBtn{
	width: 100%;
	height: 70px;
	padding-top: 15px;
	margin-bottom: 10px;
	background-color: #00B863;
}
.submitBtn:hover{
	width: 100%;
	height: 70px;
	padding-top: 15px;
	margin-bottom: 10px;
	background-color: #00e67b;
}
input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #666666;
    box-shadow: 0 1px 0 0 #666666;
}
input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #666666;
}
/*FOOTER*/

#footer-Bottom{
	margin-top: 0px;
	background-color: #F9F9F9;
	color: #000;
}
.socialIcon{
	color: #00B863;
	cursor: pointer;
}
.socialIcon:hover{
	color: #00e67b;
	cursor: pointer;
}
.header-Footer-socialLinks{
	font-size: 25px;
	font-weight: lighter;
	margin-left: 30px;
	margin-top: 0px;
	color: #a6a6a6;
}
.footer-middleSection{
	border-top: 2px solid #EEEEEE;
}
.header-Footer-navOptions{
	color: #666666;
	font-weight: bold;
}
.header-Footer-navOptions-left{
	color: #666666;
	font-weight: bold;
	margin-left: 30px;
}
.list-Footer-navOptions-left{
	color: #666666;
	margin-left: 30px;
}
.contactInfo-Footer{
	color: #8c8c8c;
}
.copyright{
	color: #a6a6a6;
}