
/*NAVBAR*/
.navbarTop{
	background-color: #fff !important;
}
#laptopIcon{
	font-size: 30px;
	color: #383838;
	margin-left: 30px;
}
.companyName{
	margin-left: 10px;
	margin-right: 30px;
	font-size: 30px;
	color: #666666;
}
.navSection:hover{
	background-color: #fff;
}
.navOption-left{
	font-weight: lighter;
	font-size: 25px;
	color: #b3b3b3;
	cursor: pointer;
	background-color: #fff;
	border-left: 1px solid #EEEEEE;
}
.navOption-left:hover{
	color: #000;
	cursor: pointer;
	background-color: #EEEEEE;
	border-bottom: 3px solid #1ab3ff;
}
.navOption-middle{
	font-weight: lighter;
	font-size: 25px;
	color: #b3b3b3;
	cursor: pointer;
	background-color: #fff;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
}
.navOption-middle:hover{
	color: #000;
	cursor: pointer;
	background-color: #EEEEEE;
	border-bottom: 3px solid #1ab3ff;
}
.navOption-right{
	font-weight: lighter;
	font-size: 25px;
	color: #b3b3b3;
	cursor: pointer;
	background-color: #fff;
	border-right: 1px solid #EEEEEE;
}
.navOption-right:hover{
	color: #000;
	cursor: pointer;
	background-color: #EEEEEE;
	border-bottom: 3px solid #1ab3ff;
}
.navOption-about{
	margin-right: 20px;
	font-size: 20px;
	color: #b3b3b3;
	cursor: pointer;
	background-color: #fff;
}
.navOption-about:hover{
	margin-right: 20px;
	color: #000;
	text-decoration: underline;
	cursor: pointer;
	background-color: #fff;
}
/*LANDING SECTION*/
.landingSection{
	height: 800px;
	background-image: url("/public/images/computer1.gif");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 140px;
}
#landingCol{
	padding-left: 0px;
	padding-right: 0px;
}
.slogan{
	font-size: 65px;
	font-weight: lighter;
	color: #262626;
	margin-top:0px;
	margin-bottom:0px;
}
.subSlogan{
	font-size: 25px;
	color: #000;
	font-weight: lighter;
	margin-top:0px;
	margin-bottom:0px;
}
.quoteBtnSection{
	margin-top: 20px;
}
.quoteBtn{
	height: 70px;
	width: 20%;
	padding-top: 15px;
	background-color: #1ab3ff;
}
.quoteBtn:hover{
	height: 70px;
	width: 20%;
	padding-top: 15px;
	background-color: #4dc4ff;
}

/*VISION SECTION*/
#section-Vision{
	padding-left: 0px;
}
.img-Vision{
	margin-top: 100px;
	margin-bottom: 50px;
}
.header{
	margin-top: 250px;
	margin-bottom: 0px;
	font-size: 50px;
	font-weight: lighter;
	color:  #333333;
	line-height: 1;
}
.description{
	margin-top: 10px;
	font-size: 23px;
	font-weight: lighter;
	color: #666666;
}

/*SERVICES SECTION*/
.section-Services{
	background-color: #EEEEEE;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.header-Services{
	margin-top: 100px;
	margin-bottom: 0px;
	color: #333333;
	font-size: 50px;
	font-weight: lighter;
}
.subheader-Services{
	margin-top: 0px;
	margin-bottom: 60px;
	font-size: 18px;
	font-weight: lighter;
	color: #666666;
}
.img-Middle-Services{
	width: 100%;
}
.Img-Section-Services{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.servicesBtn{
	height: 70px;
	width: 15%;
	padding-top: 15px;
	margin-top: 60px;
	margin-bottom: 60px;
	background-color: #1ab3ff;
}
.servicesBtn:hover{
	height: 70px;
	width: 15%;
	padding-top: 15px;
	margin-top: 60px;
	background-color: #4dc4ff;
}
/*REVIEWS SECTION*/
.img-Right-Reviews{
	width: 100%;
	margin-top: 100px;
}
.reviewsBtn{
	height: 70px;
	width: 45%;
	padding-top: 15px;
	margin-bottom: 60px;
	background-color: #1ab3ff;
}
.reviewsBtn:hover{
	height: 70px;
	width: 45%;
	padding-top: 15px;
	margin-bottom: 60px;
	background-color: #4dc4ff;
}


/*QUOTE SECTION*/
.header-Quote{
	margin-top: 100px;
	margin-bottom: 0px;
	color: #333333;
	font-size: 50px;
	font-weight: lighter;
}
.subheader-Quote{
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: lighter;
	color: #666666;
}
.section-Quote-Parent{
	margin-bottom: 0px;
}
.section-Quote{
	background-color: #EEEEEE;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.form-quoteForm{
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: #fff;
}
.gray{
	color: #EEEEEE;
}
.header-quoteForm-Message{
	color: #a6a6a6;
}
.textarea-quoteForm-Message{
	border: 1px solid #a6a6a6;
	outline: none;
	height: 100px;
	border-radius: 4px;
}
.submitBtn{
	width: 100%;
	height: 70px;
	padding-top: 15px;
	margin-bottom: 10px;
	background-color: #1ab3ff;
}
.submitBtn:hover{
	width: 100%;
	height: 70px;
	padding-top: 15px;
	margin-bottom: 10px;
	background-color: #4dc4ff;
}
input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #666666;
    box-shadow: 0 1px 0 0 #666666;
}
input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #666666;
}
/*FOOTER*/

#footer-Bottom{
	margin-top: 0px;
	background-color: #F9F9F9;
	color: #000;
}
.socialIcon-GooglePlus{
	color: #e60000;
	cursor: pointer;
}
.socialIcon-Facebook{
	color: #46629e;
	cursor: pointer;
}
.socialIcon-Twitter{
	color: #2c99c1;
	cursor: pointer;
}
.socialIcon-LinkedIn{
	color: #1985bc;
	cursor: pointer;
}
.header-Footer-socialLinks{
	font-size: 25px;
	font-weight: lighter;
	margin-left: 30px;
	margin-top: 0px;
	color: #a6a6a6;
}
.footer-middleSection{
	border-top: 2px solid #EEEEEE;
}
.header-Footer-navOptions{
	color: #666666;
	font-weight: bold;
}
.header-Footer-navOptions-left{
	color: #666666;
	font-weight: bold;
	margin-left: 30px;
}
.list-Footer-navOptions-left{
	color: #666666;
	margin-left: 30px;
}
.contactInfo-Footer{
	color: #8c8c8c;
}
.copyright{
	color: #a6a6a6;
}