
/*NAVBAR*/
.navOption-middle-portPg{
	font-weight: lighter;
	font-size: 25px;
	color: #b3b3b3;
	cursor: pointer;
	background-color: #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
}

/*PORTFOLIO SECTION*/
.header-Portfolio-ServicesPg{
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 40px;
	font-weight: lighter;
	color: #666666;
}
.header-Portfolio-ServicesPg:hover{
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 40px;
	font-weight: lighter;
	color: #158FEF;
}