
/*NAVBAR*/
.navOption-left-servicePg{
	font-weight: lighter;
	font-size: 25px;
	color: #b3b3b3;
	cursor: pointer;
	background-color: #EEEEEE;
	border-left: 1px solid #EEEEEE;
}

/*LANDING*/
.section-parent-Landing-ServicesPg{
	padding-left: 0px !important;
	padding-right: 0px !important;

}
.section-Landing-ServicesPg{
	padding-top: 90px;
	background: linear-gradient(to bottom right, #824eca, #2e174f);
	height: 300px;
}
.header-Landing-ServicesPg{
	margin-top: 0px;
	margin-bottom: 0px;
	color: #fff;
	font-size: 80px;
	font-weight: lighter;
}
.input-Services-ServicesPg{
	width: 20%;
	padding-top: 10px;
	padding-bottom: 10px;
	outline: none;
}
.marginNone{
	margin-bottom: 0px;
}
/*SERVICES*/
.blend-services{
	color: #fff;
}
.section-Services-ServicesPg{
	margin-bottom: 0px;
	border-bottom: 1px solid #cccccc;
	padding-bottom: 50px;
	padding-top: 50px;
}
.section-resume-Services-ServicesPg{
	margin-bottom: 0px;
	padding-bottom: 50px;
	padding-top: 50px;
}
.header-Services-ServicesPg{
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 40px;
	font-weight: lighter;
}
.description-Services-ServicesPg{
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 30px;
	font-weight: lighter;
	color: #999999;
}
.section-notOffered-Services-ServicesPg{
	margin-bottom: 0px;
	padding-bottom: 100px;
	padding-top: 100px;
	background-color: #EEEEEE;
}