
/*NAVBAR*/
.navOption-left-servicePg{
	font-weight: lighter;
	font-size: 25px;
	color: #b3b3b3;
	cursor: pointer;
	background-color: #EEEEEE;
	border-left: 1px solid #EEEEEE;
}

/*LANDING*/
.section-ServicesPg-Landing-Parent{
	margin-bottom: 0px;
}
.section-ServicesPg-Landing{
	height: 500px;
	background: linear-gradient(to top, #00e67b , #EEEEEE);
	background-color: #00e67b;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 200px;
}
.slogan-ServicesPg{
	font-size: 65px;
	font-weight: lighter;
	color: #666666;
	margin-top:0px;
	margin-bottom:0px;
}
.subSlogan-ServicesPg{
	font-size: 25px;
	color: #666666;
	font-weight: lighter;
	margin-top:0px;
	margin-bottom:0px;
}
/*SERVICES*/
.section-ServicesPg-services{
	background-color: #00e67b;
	/*background: linear-gradient(to bottom, #00e67b , #EEEEEE);*/
}
.bottomRow{
	margin-bottom: 0px;
}