.navOption-left-servicePg{
	font-weight: lighter;
	font-size: 25px;
	color: #b3b3b3;
	cursor: pointer;
	background-color: #fff;
	border-left: 1px solid #EEEEEE;
	border-bottom: 3px solid #1ab3ff;
}
.img-Services{
	margin-top: 100px;
	width: 90%;
}
.header-Services{
	margin-top: 150px;
	margin-bottom: 0px;
	font-size: 50px;
	font-weight: lighter;
	color:  #333333;
	line-height: 1;
}
.section-Services-Landing{
	height: 800px;
	background-image: url("/public/images/servicesImg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 140px;
}
.bottomRow{
	margin-bottom: 0px;
}